<div class="header-nav__icons">
  <ul class="social">
    <li class="social__item">
      <a href="#" class="social__links">
        <svg
          class="icon"
          role="img"
          aria-label="Twitter link"
          width="32"
          height="32"
        >
          <use href="#icon-x"></use>
        </svg>
      </a>
    </li>
    <li class="social__item">
      <a href="#" class="social__links">
        <svg
          class="icon"
          role="img"
          aria-label="Facebook link"
          width="32"
          height="32"
        >
          <use href="#icon-f"></use>
        </svg>
      </a>
    </li>
    <li class="social__item">
      <a href="#" class="social__links">
        <svg
          class="icon"
          role="img"
          aria-label="LinkedIn link"
          width="32"
          height="32"
        >
          <use href="#icon-in"></use>
        </svg>
      </a>
    </li>
  </ul>
</div>
