<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="shortcut icon"
      href="assets/icons/favicon/favicon.ico"
      type="image/x-icon"
    />
    <script
      src="https://unpkg.com/htmx.org@1.9.10"
      integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="assets/css/styles.css" />
  </head>
  <body>
    <!-- icons -->
    <svg
      data-hx-trigger="load"
      data-hx-swap="outerHTML"
      data-hx-get="assets/icons/global.icons.partial.html"
    ></svg>
    <!-- header -->
    <header
      class="header-hero"
      data-hx-trigger="load"
      data-hx-swap="outerHTML"
      data-hx-get="partials/index.header-nav.partial.html"
    >
      Loading nav...
    </header>
    <script src="assets/js/index.js"></script>
  </body>
</html>
