@import url("../fonts/fonts.css");

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* colors */
  --color-primary: #2091f9;
  --color-secondary-a: #2dc071;
  --color-secondary-b: #f15b07;
  --color-text-title: #252b42;
  --color-text-secondary: #374754;
  --color-light-text: #fff;
  --color-dark-bg: #252b42;
  --color-light-bg: #fff;
  --color-gradient-bg: #222b32;

  /* fonts */
  --main-font: "Graphik";
  --main-font-size: 18px;
  --main-font-weight: 400;
  --main-line-height: 1.4;
  --main-letter-spacing: 0.2px;

  /* container */
  --container: 1440px;
  --container-padding: 20px;
  
  /* animation */
  --main-animation: 0.5s ease-out;

  /* base */
  font-family: var(--main-font), sans-serif;
  font-size: var(--main-font-size);
  font-style: normal;
  font-weight: var(--main-font-weight);
  line-height: var(--main-line-height);
  letter-spacing: var(--main-letter-spacing);
  color: var(--color-text-secondary);
  background-color: var(--color-light-bg);
  scroll-behavior: smooth;
}