body.no-scroll {
  overflow: hidden;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 100%;
  max-width: var(--container);
  margin: auto;
  padding: 0 var(--container-padding);

  @media (min-width: 768px) {
    --container-padding: 40px;
  }
}

.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 236px;
  min-height: 52px;
  padding: 16px;
  font-size: 1.12rem;
  line-height: 1;
  letter-spacing: 0.1px;
  text-decoration: none;
  color: var(--color-text-light);
  background: var(--color-primary);
  border: 1px solid transparent;
  border-radius: 35px;
  transition: all var(--main-animation);
  justify-self: flex-start;

  &:hover {
    text-decoration: underline;
  }
}

h2.title {
  font-size: 2.67rem;
  line-height: 1.15;
  letter-spacing: 0.2px;
  text-align: center;
  color: var(--color-text-title);

}
